<% if @food_truck %>
  <h1><%= "#{@food_truck.name}'s Reviews" %></h1>
<% end %>

<%= image_tag @food_truck.photo.url %>

<table>
  <tr>
    <th>User name</th>
    <th>Sweet Review</th>
    <th>Verdict</th>
  </tr>
  <% @reviews.each do |review| %>
  <tr>
    <%= content_tag :td, review.user.full_name %>
    <%= content_tag :td, review.body %>
    <%= content_tag :td, ( review.is_good ? "I love it" : "I hate it" ) %>
  </tr>
  <% end %>
</table>

<%= link_to "Add review", new_food_truck_review_path %>

